name: REACT-QUICKSTART-DATA-FETCHING-STABLE

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: 
      image: bitsrc/stable:latest
    env:
      HOME: /home/bituser
        
    steps:
    - name: Show BVM config
      run: |
        bvm config
    - name: Initialize a workspace
      run: |
        bit new data-fetching my-data-fetching --aspect teambit.community/starters/data-fetching
    - name: Run the app component
      run: |
        cd my-data-fetching
        bit run data-fetching &
        checkserver http://localhost:3000
    - name: Preview components
      run: |
        cd my-data-fetching
        bit start &
        checkserver http://localhost:3000
    - name: Collaborate
      run: |
        cd my-data-fetching
        bit status
    - name: Create a local scope, compile and export
      run: |
        barescope my-org.my-scope-name my-data-fetching
        cd my-data-fetching
        bit scope rename org.scope-name my-org.my-scope-name --refactor
        bit link
        bit compile
        bit tag --message "initial tag"
        bit export
    continue-on-error: false
